:root {
  --dice-z: 0;
  --dice-x: 0;
  --dice-x-neg: 0;
  --dice-y: 0;
}

@media (max-width: 1200px){
    :root {
      --dice-z: -300px;
      --dice-x: 10vw;
      --dice-x-neg: -10vw;
      --dice-y: 10vh;
    }
}

@media (max-width: 1000px){
    :root {
      --dice-z: -500px;
      --dice-x: 20vw;
      --dice-x-neg: -20vw;
      --dice-y: 20vh;
    }
}

@media (max-width: 800px){
    :root {
      --dice-z: -700px;
      --dice-x: 30vw;
      --dice-x-neg: -30vw;
      --dice-y: 30vh;
    }
}

@media (max-width: 600px){
    :root {
      --dice-z: -900px;
      --dice-x: 40vw;
      --dice-x-neg: -40vw;
      --dice-y: 40vh;
    }
}

@keyframes spin {
    0% { transform: translateZ(var(--dice-z)) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(var(--dice-z)) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(var(--dice-z)) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(var(--dice-z)) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(var(--dice-z)) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(var(--dice-z)) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(var(--dice-z)) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes spin-duplicate {
    0% { transform: translateZ(var(--dice-z)) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(var(--dice-z)) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(var(--dice-z)) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(var(--dice-z)) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(var(--dice-z)) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(var(--dice-z)) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(var(--dice-z)) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@keyframes fly-away {
    0% { transform: 
        translateX(0) 
        translateY(var(--dice-y))
        translateZ(var(--dice-z))
        rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    8% { transform: 
        translateX(0) 
        translateY(var(--dice-y)) translateY(-10vh)
        translateZ(var(--dice-z)) translateZ(300px)
        rotateX(180deg) rotateY(180deg) rotateZ(45deg); }
    16% { transform: 
        translateX(0) 
        translateY(var(--dice-y)) translateY(-20vh)
        translateZ(var(--dice-z)) translateZ(600px) 
        rotateX(360deg) rotateY(270deg) rotateZ(90deg); }
    24% { transform: 
        translateX(0) 
        translateY(var(--dice-y)) translateY(-30vh)
        translateZ(var(--dice-z)) translateZ(900px) 
        rotateX(450deg) rotateY(360deg) rotateZ(135deg); }
    33% { transform: 
        translateX(var(--dice-x)) translateX(20vw) 
        translateY(var(--dice-y))
        translateZ(var(--dice-z)) translateZ(450px) 
        rotateX(360deg) rotateY(270deg) rotateZ(180deg); }
    41% { transform: 
        translateX(var(--dice-x)) translateX(40vw) 
        translateY(var(--dice-y)) translateY(-20vh)
        translateZ(var(--dice-z))
        rotateX(180deg) rotateY(180deg) rotateZ(135deg); }
    50% { transform: 
        translateX(var(--dice-x)) translateX(20vw) 
        translateY(var(--dice-y)) translateY(-40vh)
        translateZ(var(--dice-z)) translateZ(-300px) 
        rotateX(360deg) rotateY(90deg) rotateZ(90deg); }
    58% { transform: 
        translateX(var(--dice-x)) translateX(0) 
        translateY(var(--dice-y)) translateY(-60vh)
        translateZ(var(--dice-z)) translateZ(-600px) 
        rotateX(450deg) rotateY(0deg) rotateZ(45deg); }
    66% { transform: 
        translateX(var(--dice-x-neg)) translateX(-20vw) 
        translateY(var(--dice-y)) translateY(-80vh)
        translateZ(var(--dice-z)) translateZ(-900px) 
        rotateX(540deg) rotateY(90deg) rotateZ(90deg); }
    74% { transform: 
        translateX(var(--dice-x-neg)) translateX(-40vw) 
        translateY(var(--dice-y)) translateY(-100vh)
        translateZ(var(--dice-z)) translateZ(-1200px) 
        rotateX(630deg) rotateY(180deg) rotateZ(135deg); }
    83% { transform: 
        translateX(var(--dice-x-neg)) translateX(-60vw) 
        translateY(var(--dice-y)) translateY(-120vh)
        translateZ(var(--dice-z)) translateZ(-1500px) 
        rotateX(720deg) rotateY(270deg) rotateZ(180deg); }
    91% { transform: 
        translateX(var(--dice-x-neg)) translateX(-80vw) 
        translateY(var(--dice-y)) translateY(-140vh)
        translateZ(var(--dice-z)) translateZ(-1800px) 
        rotateX(630deg) rotateY(180deg) rotateZ(135deg); }
    100% { transform: 
        translateX(var(--dice-x-neg)) translateX(0vw) 
        translateY(var(--dice-y)) translateY(-160vh)
        translateZ(var(--dice-z))
        rotateX(540deg) rotateY(90deg) rotateZ(90deg); }
}

@keyframes dance {
    0% { transform: 
        translateX(var(--dice-x))
        translateY(var(--dice-y))
        translateZ(var(--dice-z))
        rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    10% { transform: 
        translateX(var(--dice-x)) translateX(-10vw)
        translateY(var(--dice-y)) translateY(-20vh)
        translateZ(var(--dice-z)) translateZ(300px)
        rotateX(180deg) rotateY(180deg) rotateZ(45deg); }
    20% { transform: 
        translateX(var(--dice-x)) translateX(-15vw)
        translateY(var(--dice-y)) translateY(-20vh)
        translateZ(var(--dice-z)) translateZ(600px) 
        rotateX(360deg) rotateY(270deg) rotateZ(90deg); }
    30% { transform: 
        translateX(var(--dice-x)) translateX(-10vw)
        translateY(var(--dice-y)) translateY(-20vh)
        translateZ(var(--dice-z)) translateZ(300px) 
        rotateX(450deg) rotateY(360deg) rotateZ(135deg); }
    40% { transform: 
        translateX(var(--dice-x)) translateX(30vw) 
        translateY(var(--dice-y)) translateY(-20vh)
        translateZ(var(--dice-z)) translateZ(0px) 
        rotateX(360deg) rotateY(270deg) rotateZ(180deg); }
    50% { transform: 
        translateX(var(--dice-x)) translateX(40vw) 
        translateY(var(--dice-y)) translateY(-20vh)
        translateZ(var(--dice-z))
        rotateX(180deg) rotateY(180deg) rotateZ(135deg); }
    50% { transform: 
        translateX(var(--dice-x)) translateX(20vw) 
        translateY(var(--dice-y)) translateY(-40vh)
        translateZ(var(--dice-z)) translateZ(-300px) 
        rotateX(360deg) rotateY(90deg) rotateZ(90deg); }
    60% { transform: 
        translateX(var(--dice-x)) translateX(0) 
        translateY(var(--dice-y)) translateY(-60vh)
        translateZ(var(--dice-z)) translateZ(-600px) 
        rotateX(450deg) rotateY(0deg) rotateZ(45deg); }
    70% { transform: 
        translateX(var(--dice-x-neg)) translateX(-20vw) 
        translateY(var(--dice-y)) translateY(-80vh)
        translateZ(var(--dice-z)) translateZ(-900px) 
        rotateX(540deg) rotateY(90deg) rotateZ(90deg); }
    80% { transform: 
        translateX(var(--dice-x-neg)) translateX(-40vw) 
        translateY(var(--dice-y)) translateY(-100vh)
        translateZ(var(--dice-z)) translateZ(-1200px) 
        rotateX(630deg) rotateY(180deg) rotateZ(135deg); }
    90% { transform: 
        translateX(var(--dice-x-neg)) translateX(-60vw) 
        translateY(var(--dice-y)) translateY(-120vh)
        translateZ(var(--dice-z)) translateZ(-1500px) 
        rotateX(720deg) rotateY(270deg) rotateZ(180deg); }
    100% { transform: 
        translateX(var(--dice-x-neg)) translateX(-80vw) 
        translateY(var(--dice-y)) translateY(-140vh)
        translateZ(var(--dice-z)) translateZ(-1800px) 
        rotateX(630deg) rotateY(180deg) rotateZ(135deg); }
}

#dice.select {
    animation: fly-away 1.6s linear;
    animation-fill-mode: forwards;
    z-index: 2;
}

#dice.dance {
    animation: dance 2s infinite linear;
    animation-direction: alternate;
    z-index: 2;   
}

#dice.pause{
    animation-play-state: paused; 
}

#roll-label.select {
    text-shadow:0 -1px 0 #336633;
    border-color:#66FF99;
    background: linear-gradient(to bottom, #66CC66 0%,#336633 100%);
}

#roll:checked ~ #platform > #dice {
    animation: spin-duplicate 2s infinite linear;
}
#roll:checked ~ #platform {
    width:200px;
    height:200px;
    transform-style: preserve-3d;
    animation: roll 1.6s infinite linear;
}
#wrapper {
    position: relative;
    width: 200px;
    padding-top: 100px;
    margin: 0 auto;
    perspective: 1200px;
}
#platform {
  margin-top:50px;
}
#dice span {
    position:absolute;
    margin:100px 0 0 100px;
    display: block;
    font-size: 2.5em;
    padding: 10px;
}
#dice {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: spin 50s infinite linear;
    font-family: 'Pacifico', cursive;    
}
.side {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    box-shadow:inset 0 0 40px #ccc;
    border-radius: 40px;
}
#dice .cover, #dice .inner {
    background: #e0e0e0;
    box-shadow: none;
}
#dice .cover {
    border-radius: 0;
    transform: translateZ(0px);
}
#dice .cover.x {
    transform: rotateY(90deg);
}
#dice .cover.z {
    transform: rotateX(90deg);
}
#dice .front  {
    transform: translateZ(100px);
}
#dice .front.inner  {
    transform: translateZ(98px);
}
#dice .back {
    transform: rotateX(-180deg) translateZ(100px);
}
#dice .back.inner {
    transform: rotateX(-180deg) translateZ(98px);
}
#dice .right {
    transform: rotateY(90deg) translateZ(100px);
}
#dice .right.inner {
    transform: rotateY(90deg) translateZ(98px);
}
#dice .left {
    transform: rotateY(-90deg) translateZ(100px);
}
#dice .left.inner {
    transform: rotateY(-90deg) translateZ(98px);
}
#dice .top {
    transform: rotateX(90deg) translateZ(100px);
}
#dice .top.inner {
    transform: rotateX(90deg) translateZ(98px);
}
#dice .bottom {
    transform: rotateX(-90deg) translateZ(100px);
}
#dice .bottom.inner {
    transform: rotateX(-90deg) translateZ(98px);
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 8vh;
    color: #66CC66;
    text-shadow:
        -2px -2px 0 #f00,  
        2px -2px 0 #f00,
        -2px 2px 0 #f00,
        2px 2px 0 #f00;
}

.dice-label, .dice-input:before {
	position: absolute;
	overflow:hidden;
	top:40px;
	left:40px;
	display:block;
	width:120px;
	padding-top:9px;
	height:31px;
	cursor:pointer;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
	color:#fff;
	border-radius:6px;
	border:1px solid;
}
.dice-input:before {
	background:transparent;
	border-color:transparent;
}
.dice-input {
	display:none;
}
.dice-label {
	opacity:.5;
	transition:all .3s ease;
}
.dice-label:hover {
	opacity:1;
	box-shadow:0 0 18px rgba(255,255,255,.5);
}
.dice-label[for=roll] {
	z-index:1;
	text-shadow:0 -1px 0 #006699;
	border-color:#17C7EC;
	background: linear-gradient(to bottom, #0099CC 0%,#006699 100%);
}

#roll:checked ~ .dice-label[for=roll] {
	text-shadow:0 -1px 0 #CC0033;
    border-color:#FF8298;
    background: linear-gradient(to bottom, #FF6666 0%,#CC0033 100%);
}
#roll:checked ~ .dice-label[for=roll]:after {
	content:"Stop!";
}
#roll ~ .dice-label[for=roll]:after {
    content:"Roll It!";
}
#roll ~ #roll-label.dice-label.select:after {
    content:"Surprise!";
}