#background {
	z-index: -1;
	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	right: 0;
}

@media only screen and (max-aspect-ratio: 1226/818) {
	#background {
		width: auto;
		height: 100%;
	}
}